.square {
  background-color: #fff;
  border: 2px solid #999;
  font-size: 48px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  width: 80px;
  padding: 0;
  text-align: center;
  cursor: pointer;
  transition: background-color 0.2s ease-in-out;
}

.square:hover:not(:disabled) {
  background-color: #f0f0f0;
}

.square:disabled {
  cursor: not-allowed;
  opacity: 0.6;
}