.square {
  background-color: #fff;
  border: 2px solid #999;
  float: left;
  font-size: 48px;
  font-weight: bold;
  line-height: 80px;
  height: 80px;
  margin-right: -2px;
  margin-top: -2px;
  padding: 0;
  text-align: center;
  width: 80px;
  cursor: pointer;
}

.square:hover {
  background-color: #f0f0f0;
}
